<h1 class="visibility-hidden">{{ help_center.name }}</h1>
<div data-hc-page="home" hidden></div>
<section id="main-content" class="section hero">
  <div class="hero-outer">
    <div id="home-search-title" class="search-title" data-testid="searchTitle"><h1>JustServe Resource Hub</h1></div>
    <div class="hero-inner">
      <div class="search-bar-container">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
          <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
          <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
        </svg> --}}
        {{!--Custom search. Line below this comment is the full version of the search helper that is commented out with an id added--}}
        {{!-- <form id="searchForm" role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="✓" autocomplete="off"></input>
          
          <input type="search" name="query" id="query" placeholder="Search" autocomplete="off" aria-label="Search">{{!-- Also moving the svg from above to inside the form --}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
            <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
            <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
          </svg>
        
        </form> -->
        {{search submit=false instant=settings.instant_search class='search search-full' }} 
        <button id="searchSubmitBtn" class="button search-button" type="submit" form="searchForm">Search</button>
      </div>
    </div>
  </div>
  <div class="hero-image">
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg
      width="386"
      height="383.99997"
      viewBox="0 0 386 383.99997"
      fill="none"
      version="1.1"
      id="svg1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:inkstitch="http://inkstitch.org/namespace">
      <metadata
        id="metadata2">
        <inkstitch:min_stitch_len_mm>0</inkstitch:min_stitch_len_mm>
        <inkstitch:collapse_len_mm>3</inkstitch:collapse_len_mm>
        <inkstitch:inkstitch_svg_version>1</inkstitch:inkstitch_svg_version>
      </metadata>
      <defs
        id="defs1" />
      <g
        id="g4"
        transform="matrix(10.186194,0,0,10.186194,64.000002,56.975775)"
        style="opacity:1;fill:#ffffff;fill-opacity:1">
        <mask
          id="mask2"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="26"
          height="26">
          <path
            id="path2"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M 25.3284,0.511719 H 0 V 25.9995 h 25.3284 z"
            fill="#ffffff" />
        </mask>
        <g
          mask="url(#mask0_2763_45514)"
          id="g3"
          style="fill:#ffffff;fill-opacity:1">
          <path
            id="path3"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="m 12.6638,19.6651 c -2.1653,-1.3804 -5.96582,-4.4327 -5.96582,-7.4699 0,-1.7546 1.38075,-2.8033 2.71594,-2.8033 1.91998,0 2.97268,1.6648 3.24988,2.095 0.2597,-0.4405 1.2015,-2.095 3.2499,-2.095 1.3359,0 2.7159,1.0487 2.7159,2.8033 0,3.0372 -3.8005,6.0895 -5.9658,7.4699 z m 4.7476,3.3532 c -0.0213,0.011 -1.3344,-0.9179 -2.5747,-1.7995 0.0995,-0.0725 0.2013,-0.1474 0.3091,-0.2262 2.3757,-1.7302 5.9248,-4.9565 5.9248,-8.7974 0,-2.62209 -1.9291,-5.33554 -5.1569,-5.33554 -1.3572,0 -2.4008,0.44121 -3.2491,1.06836 -0.8484,-0.62873 -1.8919,-1.06836 -3.25068,-1.06836 -3.22784,0 -5.15696,2.71345 -5.15696,5.33554 0,3.8409 3.54988,7.0672 5.92484,8.7974 0.1245,0.0859 0.2392,0.1663 0.3516,0.2443 C 9.31291,22.1327 8.01949,23.075 7.99215,23.0592 4.60937,21.2518 2.4638,17.6418 2.4638,13.6488 2.4638,7.81535 7.03975,3.06839 12.663,3.06839 c 5.6256,0 10.2,4.74696 10.2,10.58041 0,3.9512 -2.1167,7.5495 -5.4516,9.3695 z M 12.663,0.511719 C 5.68101,0.511719 0,6.40505 0,13.6488 0,18.9426 3.03494,23.6927 7.73392,25.7546 l 0.56051,0.245 4.38687,-3.2421 4.5205,3.1759 0.5506,-0.249 c 4.601,-2.0973 7.576,-6.8206 7.576,-12.0356 0,-7.24375 -5.6818,-13.137081 -12.6654,-13.137081 z"
            fill="#009eb9"
            style="display:inline;fill:#ffffff;fill-opacity:1" />
        </g>
      </g>
    </svg>
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <span class="blocks-item-title">{{name}}</span>
                <span class="blocks-item-description">{{excerpt description}}</span>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <span class="blocks-item-title">
                    {{name}}
                  </span>
                  <span class="blocks-item-description">{{excerpt description}}</span>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h2>{{t 'promoted_articles'}}</h2>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                      <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                      <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                    </svg>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}

  <section class="section home-section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>
</div>
