<h1 class="visibility-hidden">{{ help_center.name }}</h1>
<div data-hc-page="home" hidden></div>
<section id="main-content" class="section hero">
  <div class="hero-outer">
    <div id="home-search-title" class="search-title" data-testid="searchTitle"><h1>JustServe Resource Hub</h1></div>
    <div class="hero-inner">
      <div class="search-bar-container">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
          <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
          <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
        </svg> --}}
        {{!--Custom search. Line below this comment is the full version of the search helper that is commented out with an id added--}}
        {{!-- <form id="searchForm" role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="✓" autocomplete="off"></input>
          
          <input type="search" name="query" id="query" placeholder="Search" autocomplete="off" aria-label="Search">{{!-- Also moving the svg from above to inside the form --}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
            <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
            <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
          </svg>
        
        </form> -->
        {{search submit=false instant=settings.instant_search class='search search-full' }} 
        <button id="searchSubmitBtn" class="button search-button" type="submit" form="searchForm">Search</button>
      </div>
    </div>
  </div>
  <div class="hero-image">
      <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg
          width="81.328064"
          height="61.615234"
          viewBox="0 0 81.328064 61.615235"
          fill="none"
          version="1.1"
          id="svg1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:svg="http://www.w3.org/2000/svg"
          xmlns:inkstitch="http://inkstitch.org/namespace">
          <metadata
            id="metadata2">
            <inkstitch:min_stitch_len_mm>0</inkstitch:min_stitch_len_mm>
            <inkstitch:collapse_len_mm>3</inkstitch:collapse_len_mm>
            <inkstitch:inkstitch_svg_version>1</inkstitch:inkstitch_svg_version>
          </metadata>
          <defs
            id="defs1">
            <mask
              maskUnits="userSpaceOnUse"
              id="mask4">
              <g
                id="g5"
                transform="matrix(0.31143237,0,0,0.31143237,-34.218423,-37.195642)">
                <path
                  id="path5"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="m 191.20306,121.0772 h -81.32873 v 81.8405 h 81.32873 z"
                  fill="#ffffff"
                  style="stroke-width:3.21097" />
              </g>
            </mask>
          </defs>
          <path
            id="path2"
            mask="url(#mask4)"
            style="display:inline;fill:#ffffff;fill-opacity:1"
            d="M 3.5488346,4.5375125 C 1.3525142,6.9012451 2.0870858e-4,10.114198 2.0870858e-4,13.648734 c 0,3.964339 1.70150849142,7.623838 4.52975949142,10.077757 h 6.8405638 l 1.310814,-0.968968 1.379548,0.968968 h 6.731683 c 2.828286,-2.458394 4.535843,-6.127011 4.535843,-10.077757 0,-3.534536 -1.352535,-6.7474889 -3.549235,-9.1112215 H 17.84431 c 3.002021,1.843786 5.018806,5.2379775 5.018806,9.1112215 0,3.9512 -2.116991,7.549735 -5.451891,9.369735 -0.0213,0.011 -1.334492,-0.91826 -2.574792,-1.79986 0.0995,-0.0725 0.201808,-0.147475 0.309608,-0.226275 2.3757,-1.7302 5.924514,-4.956456 5.924514,-8.797356 0,-2.6220904 -1.929082,-5.3351046 -5.156882,-5.3351046 -1.3572,0 -2.401059,0.4409657 -3.249359,1.0681157 -0.8484,-0.62873 -1.891795,-1.0681157 -3.2505753,-1.0681157 -3.22784,0 -5.1568821,2.7130142 -5.1568821,5.3351046 0,3.8409 3.5501625,7.067156 5.9251224,8.797356 0.1245,0.0859 0.239178,0.166523 0.351578,0.244523 -1.2204899,0.8958 -2.5139967,1.838166 -2.5413367,1.822366 -3.38278,-1.8074 -5.5285329,-5.417489 -5.5285329,-9.410489 0,-3.873244 2.0176215,-7.2674355 5.0194139,-9.1112215 z m 5.8649041,4.8545737 c 1.9199803,0 2.9727673,1.6646698 3.2499673,2.0948698 0.2597,-0.4405 1.201567,-2.0948698 3.249967,-2.0948698 1.3359,0 2.715909,1.0482918 2.715909,2.8028918 0,3.0372 -3.800576,6.089719 -5.965876,7.470119 -2.1653,-1.3804 -5.9658765,-4.432919 -5.9658765,-7.470119 0,-1.7546 1.3807192,-2.8028918 2.7159092,-2.8028918 z"
            transform="matrix(3.21097,0,0,3.21097,-6.701095e-4,-14.569815)" />
        </svg>
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <span class="blocks-item-title">{{name}}</span>
                <span class="blocks-item-description">{{excerpt description}}</span>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <span class="blocks-item-title">
                    {{name}}
                  </span>
                  <span class="blocks-item-description">{{excerpt description}}</span>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h2>{{t 'promoted_articles'}}</h2>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                      <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                      <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                    </svg>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}

  <section class="section home-section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>
</div>
